<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SellerFilter</filter-name>
        <filter-class>Filter.SellerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SellerFilter</filter-name>
        <url-pattern>/themsanpham.jsp</url-pattern>
        <url-pattern>/seller</url-pattern>
        <url-pattern>/updatesanpham</url-pattern>
        <url-pattern>/thongke</url-pattern>
        <url-pattern>/quanlidonhang</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminController</url-pattern>
        <url-pattern>/admin.jsp</url-pattern>
        <url-pattern>/list_category.jsp </url-pattern>
        <url-pattern>/listcategory</url-pattern>
        <url-pattern>/list_member.jsp</url-pattern>
        <url-pattern>/getListUser</url-pattern>
        <url-pattern>/list_post.jsp</url-pattern>
        <url-pattern>/allposts</url-pattern>
        <url-pattern>/list_product.jsp</url-pattern>
        <url-pattern>/listproduct</url-pattern>
        <url-pattern>/list_shipper.jsp</url-pattern>
        <url-pattern>/manageshipper</url-pattern>
        <url-pattern>/taotaikhoanshipper.jsp</url-pattern>
        <url-pattern>/sellerstatusdemo.jsp</url-pattern>
        <url-pattern>/getRequestRole</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/addtocart</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/xemdonhang</url-pattern>
        <url-pattern>/xemdonhangchovanchuyen</url-pattern>
        <url-pattern>/xemdonhangdanggiao</url-pattern>
        <url-pattern>/xemdonhanghoanthanh</url-pattern>
        <url-pattern>/xemdonhangdahuy</url-pattern>
        <url-pattern>/UserProfileSocial</url-pattern>
        <url-pattern>/chat</url-pattern>
        <url-pattern>/muangay</url-pattern>
        <url-pattern>/create_post.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShoppingControl</servlet-name>
        <servlet-class>Controller.ShoppingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>Controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>Controller.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managecategory</servlet-name>
        <servlet-class>Controller.managecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOfShopControl</servlet-name>
        <servlet-class>Controller.SearchOfShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRole</servlet-name>
        <servlet-class>Controller.SetRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatesanpham</servlet-name>
        <servlet-class>Controller.updatesanpham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>Controller.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl1</servlet-name>
        <servlet-class>Controller.DetailControl1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>Controller.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thanhtoan</servlet-name>
        <servlet-class>Controller.thanhtoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>muahang</servlet-name>
        <servlet-class>Controller.muahang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xemdonhang</servlet-name>
        <servlet-class>Controller.xemdonhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeitemincart</servlet-name>
        <servlet-class>Controller.removeitemincart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>muangay</servlet-name>
        <servlet-class>Controller.muangay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>Controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerManagementController</servlet-name>
        <servlet-class>Controller.SellerManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingControl</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/categorytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managecategory</servlet-name>
        <url-pattern>/managecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOfShopControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRole</servlet-name>
        <url-pattern>/SetRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatesanpham</servlet-name>
        <url-pattern>/updatesanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl1</servlet-name>
        <url-pattern>/DetailControl1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thanhtoan</servlet-name>
        <url-pattern>/thanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muahang</servlet-name>
        <url-pattern>/muahang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xemdonhang</servlet-name>
        <url-pattern>/xemdonhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeitemincart</servlet-name>
        <url-pattern>/removeitemincart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muangay</servlet-name>
        <url-pattern>/muangay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerManagementController</servlet-name>
        <url-pattern>/seller_management</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
